.footer {
    width: 100vw;
    padding: 14px 0px;
    position: absolute;
    bottom: 0%;
    background: #333;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.ir {
    position: absolute;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.txt-red {
    color: #fa5c58;
    display: inline;
}

small {
    font-weight: 200;
    display: block;
    font-size: 8px;
}