.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}
.close {
    fill: #fff;
}
nav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    padding: 0px 100px;
    padding-top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    
}

li {
    list-style-type: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: #fff;
}

