table {
    margin: 0 auto;
    border-collapse: collapse;
}

.date, .day {
    width: 80px;
    padding: 0px 10px;
    border: 1px solid #666;
    cursor: pointer;
}

.date {
    padding: 8px 10px;
    height: 60px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}
.day {
    height: 22px;
    padding: 2px 10px;
    line-height: 22px;
    font-weight: 600;
}

.date:is(.null){
    background:rgba(81, 81, 81, 0.1);
    cursor: inherit;
}
.date:not(.null):hover {
    
    background:#fa5b5828;
}
th:first-child,
td:first-child {
    color: red;
}
